@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
    /*Primary*/
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    /*Neutral*/
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
    font-size: 16px;
    font-family: 'Karla',sans-serif;
    margin: 0;
    padding: 0;
}
.container-single-price {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Light-Gray);
    padding: 80px 0px;
}
.card-single-price {
    width: clamp(310px, 45vw, 41rem);
    height: 790px;
    display: grid;
    border-radius: 6px;
}
.info-single-price {
    background: white;
    border-radius: 6px 6px 0 0;
    padding: clamp(25px, 4vw, 2rem);
}
.info-single-price .item-title__info{
    color: var(--Cyan);
    font-size: clamp(1.24rem, 5vw, 1.6rem);
    font-weight: 700;
    margin-top: 14px;
}
.info-single-price .item-sub-title__info {
    color: var(--Bright-Yellow);
    font-size: clamp(0.92rem, 5vw, 1.2rem);
}
.info-single-price .item-description__info {
    font-size: clamp(0.85rem, 5vw, 1.02rem);
    line-height: 26px;
    color: var(--Grayish-Blue);
}
.subscription-single-price {
    background: var(--Cyan);
    padding: clamp(25px,4vw,2rem);
}
.subscription-single-price .item-title__subscription {
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    margin-top: 14px;
    opacity: 0.8;
}
.subscription-single-price .item-price__subscription {
    font-size: 1.94rem;
    font-weight: 700;
    color: white;
    opacity: 0.9;
}
.subscription-single-price .item-price__subscription span {
    font-size: 16px;
    font-weight: 400;
    color: var(--Light-Gray);
    opacity: 0.5;
    margin-left: 5px;
    text-align: center;
}
.subscription-single-price .item-detail__subscription {
    color: var(--Light-Gray);
    opacity: 0.89;
    margin-top: 8px;
}
.subscription-single-price button {
    background: var(--Bright-Yellow);
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border: 0;
    font-size: 0.95rem;
    font-weight: 400;
    color: white;
    margin-top: 12px;
}
.us-single-price {
    background: var(--Cyan);
    opacity: 0.8;
    display: grid;
    padding: clamp(25px, 4vw, 2rem);
    border-radius: 0 0 6px 6px;
}
.us-single-price .item-title__us {
    font-size: 18px;
    color: white;
    margin-top: 8px;
}
.us-single-price .item-link__us {
    font-size: 14px;
    color: var(--Light-Gray);
    opacity: 0.7;
    font-weight: 400;
    text-decoration: none;
    line-height: 20px;
}
@media (min-width:1024px) {
    .container-single-price {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 608px;
    justify-content: center;
    align-items: center;
    }
    .card-single-price {
    height: 460px;
    }
    .info-single-price {
    grid-column: 1/3;
    }
    .subscription-single-price {
    grid-column: 1/2;
    border-radius: 0 0 0 6px;
    }
    .us-single-price {
    grid-column: 2/3;
    padding-right: 58px;
    border-radius: 0 0 6px 0;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
        
    /*Primary*/
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    /*Neutral*/
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
    font-size: 16px;
    font-family: 'Karla',sans-serif;
    margin: 0;
    padding: 0;
}
.container-single-price {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Light-Gray);
    padding: 80px 0px;
}
.card-single-price {
    width: clamp(310px, 45vw, 41rem);
    height: 790px;
    display: grid;
    border-radius: 6px;
}
.info-single-price {
    background: white;
    border-radius: 6px 6px 0 0;
    padding: clamp(25px, 4vw, 2rem);
}
.info-single-price .item-title__info{
    color: var(--Cyan);
    font-size: clamp(1.24rem, 5vw, 1.6rem);
    font-weight: 700;
    margin-top: 14px;
}
.info-single-price .item-sub-title__info {
    color: var(--Bright-Yellow);
    font-size: clamp(0.92rem, 5vw, 1.2rem);
}
.info-single-price .item-description__info {
    font-size: clamp(0.85rem, 5vw, 1.02rem);
    line-height: 26px;
    color: var(--Grayish-Blue);
}
.subscription-single-price {
    background: var(--Cyan);
    padding: clamp(25px,4vw,2rem);
}
.subscription-single-price .item-title__subscription {
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    margin-top: 14px;
    opacity: 0.8;
}
.subscription-single-price .item-price__subscription {
    font-size: 1.94rem;
    font-weight: 700;
    color: white;
    opacity: 0.9;
}
.subscription-single-price .item-price__subscription span {
    font-size: 16px;
    font-weight: 400;
    color: var(--Light-Gray);
    opacity: 0.5;
    margin-left: 5px;
    text-align: center;
}
.subscription-single-price .item-detail__subscription {
    color: var(--Light-Gray);
    opacity: 0.89;
    margin-top: 8px;
}
.subscription-single-price button {
    background: var(--Bright-Yellow);
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border: 0;
    font-size: 0.95rem;
    font-weight: 400;
    color: white;
    margin-top: 12px;
}
.us-single-price {
    background: var(--Cyan);
    opacity: 0.8;
    display: grid;
    padding: clamp(25px, 4vw, 2rem);
    border-radius: 0 0 6px 6px;
}
.us-single-price .item-title__us {
    font-size: 18px;
    color: white;
    margin-top: 8px;
}
.us-single-price .item-link__us {
    font-size: 14px;
    color: var(--Light-Gray);
    opacity: 0.7;
    font-weight: 400;
    text-decoration: none;
    line-height: 20px;
}
.attribution {
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: var(--Light-Gray);
}
@media (min-width:1024px) {
    .container-single-price {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 608px;
    justify-content: center;
    align-items: center;
    }
    .card-single-price {
    height: 460px;
    }
    .info-single-price {
    grid-column: 1/3;
    }
    .subscription-single-price {
    grid-column: 1/2;
    border-radius: 0 0 0 6px;
    }
    .us-single-price {
    grid-column: 2/3;
    padding-right: 58px;
    border-radius: 0 0 6px 0;
    }
}